body {
	background-color:#C4938F;
	color: #023047;
}
.header {
	  background-position: center;
	  height:100%;
	  padding:10%;
	  width:80%;
	  border-radius:50% 20% / 10% 40%;
	 background-size: cover;
	 background-image: url("https://images.pexels.com/photos/2377965/pexels-photo-2377965.jpeg?cs=srgb&dl=pexels-vh-s-2377965.jpg&fm=jpg");
}

a {
	-webkit-text-stroke: 1px #023047;
	color: #fb8500;
	text-decoration:none;

}
a:hover{
	color: #ffb703;
	text-decoration:none;
}
ul {
	list-style:"\1F49B";
}
input {
    background-color: #d9bdba ;
	border:2px solid #023047;
	padding: 5px;
}
button {
    background-color: #865738 ; 
    transition-duration: 0.4s; 
}

button:hover {
    background-color: #ffb703; 
}

table {
	border-collapse:collapse;
	width:100%;
	background-color: #865738;
	color: #fb8500;
}
th,td {
	border:1px solid #023047;
	padding: 8px;
	text-align: left;
}
th {
	background-color: #ffb703 ;
}