
 .header{
  width: 100%;
  overflow: hidden;
  background-color: #3D5AF1;
  color:#E2F3F5;
  font-size:xx-large;
  padding-top:3%;
  padding-bottom:3%;
}
.header div,img,h1{
	  margin:5px;
	  float:left;
}
.header img{
	  height: 8%;
	  width: 8%;
}

body{
	color:#0E153A;
	background-color: #E2F3F5;
	 font-family: Helvetica;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}
form {
 margin: 5rem;
 }
.err { background: #faad91; border: 5px solid #fc6f03; }

table, th, td {
  border: 1px solid #0E153A;
  text-align:center;
  background-color: #E2F3F5;
}
td{
	width:15%;
	height:5%;
}
table {
	margin: 100px auto;
  width: 90%;
  border-collapse: collapse;
}

.pz {
	background-color: #fcdc79 ;	
}
.sem {
	background-color: #a2e7fc;	
}
.lec {
	background-color: #d4ffab;	
}
.lz {
	background-color: #faad91 ;	
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #22D1EE;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #22D1EE;
  color: white;
  padding: 10px 15px;
  border: none;
}



