
body {
  margin: 0%;
}
section {
	margin-left:25%;
	padding:50px 20px;
}

ul {display:flex;
	position: fixed;
	margin:0% 0% 0% 10% ;
	list-style-type: none;
	width:90%;
	background-color:#DAC0A3;
	float: left;
}
div {display:block;
	position: fixed;
	margin:0% ;
	height:100%;
	width:10%;
	float: left;
	background-color:#F8F0E5;
	list-style-type: none;
}

ul li a, div li a  {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

ul li a:hover,div li a:hover {
  background-color: #EADBC8;
}
ul li {
  float: left;
}
div li a {
  text-align: center;
}