body {
background-color:#050747;
 font-family: 'Press Start 2P', serif;
 color:#FF90C2;
}



.sidebar {		/* Стиль для сайдбару коли згорнутий*/
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0a268c;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius:0% 100% 100% 0%;
}

.sidebar .closebtn { /* Для хрестика в сайдбарі*/
  position: absolute;
  top:0px;
  left:0px;
  text-decoration:none;
  font-size: 36px;
  margin:10px;
  z-index:3;
}

.topbar {			/* Кнопка відкриття сайдбару*/
  font-size: 20px;
  cursor: pointer;
  background-color: #0a268c;
  color: white;
  padding: 10px 15px;
  margin:5px;
  border: none;
  float:left;
}

.top-container {
  background-color: #000e40;
  padding: 30px 0px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #010473;
  color: #eeeeee;
  	z-index:1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header {
  width: 100%;
  height: 40vh;
  display: inline-block;
  flex-direction: column;
  align-items: center;
}
header h1 {
  position: relative;
  left: 10%;
  width: 80%;
  font-size: 60px;
  font-weight: 600;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;  

}
header .header-1{
  background-image: radial-gradient(farthest-side at 5px 5px,#295BA7, #94AC3C, #FCC314);
  font-family: 'Press Start 2P', serif;
}

div.v {
	display:inline;

	list-style-type: none;
}
div.v h2{
  padding: 15px 20px;
}

div.v ul {
	display: block;
	list-style-type: none;	
	padding:3%;
}

div.v li a  {
  display: block;
  color: #FF90C2;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

div.v li a:hover {
  background-color: #FF90C2;
    color: #0F2C59;
}

div.v ul li a {

  text-align: center;
}

section {
	margin: 10% 0%;
	padding:5%;
	display:inline-block;
	color:#FF90C2;
}


	
p.pic {
	position:relative;
	top:70%;
    float: left;
    margin: 0;
	z-index:-1;
	font-size:2000%;
	display: inline-block;
    }

table {
  border-collapse: collapse;
  border: 2px solid black;
   padding:3%;
  margin: 5% 10% 5% 30%;
}

th, td {
  border: 2px solid #ED5AB3;
  padding: 10px;
}

.up {
	display:inline-block;
}
a{ text-decoration:none;}

.reg {
	position:relative;
  bottom:450px;
  padding:3%;
  margin: 0% 10% 0% 50%;
  background-color: #ED5AB3;
  box-sizing:border-box;  
}

.reg input[type=text], .reg input[type=password], .reg input[type=email], .reg input[type=tel] {
  width: 95%;
  padding: 0.5%;
  margin: 1%;
  border: none;
  background-color: #FF90C2;
}

.reg input[type=text]:focus, .reg input[type=password]:focus, .reg input[type=email]:focus, .reg input[type=tel]:focus {
   background-color: #ED9ED6;
}

.reg input[type=submit]{
  background-color: #ebfca7;
  cursor: pointer;
  width: 85%;
  padding: 0.5%;
  margin: 5%;
  border: none;
   font-family: 'Press Start 2P', serif;
 color:#ED9ED6;

}

.reg input[type=submit]:hover {
  border: 1px solid #FF90C2;
}

.reg label {
	font-size:150%;
	padding:2%;
}
address {
 position:absolute; 
 left:40%;
}
#goUP {
  position: fixed;
  width:5%;
  height:10%;
  bottom: 2%;
  right: 2%;
  z-index: 2;
  font-size: 300%;
  border: none;
  outline: none;
  background-color: #1640D6;
  font-weight: bold;
  color: #FF90C2;
  cursor: pointer;
  padding: 0.5%;
  border-radius: 4px;
}